<!--
main.handlebars
Robert Scanlon
 -->

<!DOCTYPE html>
<html>
  <head>
   <meta lang="en" charset="utf-8" />
   <title>E-Learner for Prison Inmates: Use Story 1</title>
   <link rel="stylesheet" type="text/css" href="./css/style.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
